* {
  box-sizing: border-box;
  /* outline: 1px solid red !important; */
  font-family: "Montserrat";
  font-size: 15px;
}
:root {
  --gradient: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --white: #ffffff;
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
}
.top-container {
  display: flex;
  background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 20%, 20%;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: var(--very-light-grayish-blue);
}
.toggle-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}
.card-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 60%;
  margin: 0 auto;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 120%;
  height: 90%;
  justify-content: space-around;
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: var(--dark-grayish-blue);
}
.card:nth-of-type(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card:nth-of-type(2) {
  background-image: var(--gradient);
  height: 100%;
  border-radius: 10px;
  color: white;
}
.card:nth-of-type(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.type {
  text-align: center;
  padding: 0.15rem;
  font-size: 20px;
}
.price {
  text-align: center;
  font-size: 45px;
}
.price::first-letter {
  font-size: 30px;
}
.description {
  position: relative;
  text-align: center;
}
hr {
  border: none;
  border-top: 0.1px solid hsl(234, 14%, 74%);
}

.btn {
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-btn {
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  background-image: var(--gradient);
  border-radius: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  height: 150%;
  white-space: nowrap;
  border:none;
}
#selected {
  padding-bottom: 0.9rem;
}
#selected-btn {
  background-image: none;
  color: var(--dark-grayish-blue);
  background-color: #ffffff;
}
.card-btn:hover{
  background-image: none;
  color: var(--dark-grayish-blue);
  background-color: #ffffff;
  border: 1px solid hsl(236, 72%, 79%);
}
#selected-btn:hover{
  background-image: var(--gradient);
  color: white;
  border: 1px solid white;
}
.price-text {
  text-align: center;
  color: var(--dark-grayish-blue);
  font-size: 2rem;
  padding: 0.5rem;
}
.toggle {
  text-align: center;
  font-size: 10px;
  color: var(--dark-grayish-blue);
  margin: auto;
  padding-top: 0.5rem;
}
#toggle-switch {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--gradient);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked ~ * .slider {
  background-image: var(--gradient);
}

input:focus ~ * .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked ~ * .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
